/* Sidebar.css */
.sidebar {
  width: 200px;
  height: 80%;
  background:#1b2430;
  color: #f7f4f4;
  position: fixed;
  top: 80px;
  left: 0;
  font-weight: bold;
  overflow-x: hidden;
  padding-top: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  transition: width 0.3s, box-shadow 0.3s;

  
}
.sidebar a{
  text-decoration:  none;
}
.sidebar ul {
  text-align: left;
  list-style: none;
  padding: 0;
}

.sidebar li {
  color:#17cf97;
  padding: 10px 15px;
  cursor: pointer;
}

 .sidebar li:hover {
  background-color: #b8e6de;
  
} 
.log{
  font-family: 'Times New Roman', Times, serif;
}
.txt{
text-align:center
}
